@tailwind base;
@tailwind components;
@tailwind utilities;

@import './conponents.css';
@import './pages.css';

body {
  @apply font-mono text-sm;
}

.mainContainer {
  @apply px-6 py-10 bg-gray-100 min-h-screen;
}

.pageTitle {
  @apply text-center text-xl;
}

.pageContent {
  @apply mt-8;
}

.healthStatus {
  @apply text-green-700;
}

.userStatus {
  @apply text-blue-700;
}

.notLoggedIn {
  @apply text-gray-600;
}

.submitBtn {
  @apply /* レイアウト */
    block mx-auto w-60 text-center
    /* パディングと色 */
    px-4 py-2 bg-sky-500 text-white rounded-md
    /* ホバー */
    hover:bg-sky-600
    /* 無効状態 */
    disabled:bg-gray-300
    disabled:text-gray-500
    disabled:cursor-not-allowed
    /* その他 */
    cursor-pointer transition;
}

.label {
  @apply block mb-1 font-semibold text-sm;
}
